body {
	font-family: 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 10pt;
}

#graphic {
	width: 880px;	
}

#controls {
	margin: 5px 0;
}

input#filter-box {
	border: 1px solid #aaaaaa;
	height: 20px;
	padding: 3px;
}

#myTable {
	border-collapse: collapse;
}

#myTable thead th {
	background: #ededed;
	border: 1px solid #999;
	color: #333;
	height: 40px;
	padding: 5px 22px 5px 7px;
	text-align: left;
	text-shadow: 1px 1px #fafafa;
}

#myTable thead tr .header {
	background: #ededed url('images/sort-both.gif') center right no-repeat;
}

#myTable thead tr .headerSortUp {
	background: #d4e2ab url('images/sort-asc.gif') center right no-repeat;
}

#myTable thead tr .headerSortDown {
	background: #d4e2ab url('images/sort-desc.gif') center right no-repeat;
}

#myTable tbody tr {
	border: 1px solid #999;
}

#myTable tbody td {
	padding: 7px 7px;
}

#myTable tbody td.sorted {
	background: #f1f6e4;
}

#myTable tbody td.check {
	text-indent: -9999px;
	background: url('images/check.png') center center no-repeat;
}

#myTable tbody td.check.sorted {
	text-indent: -9999px;
	background: #f1f6e4 url('images/check.png') center center no-repeat;
}

#myTable tbody td.nocheck {
	text-indent: -9999px;
}